@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --main-background: #1f1e1e;
  --light-grey: #2a2a2a;
  --lightest-grey: #a3a3a3;
  --green: #3e7c17;
  --orange: #ea5c2b;
  --white: #f2f2f2;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #1f1e1e;
  width: auto;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-anchor: none;
}
.side-socials {
  display: none;
}
/********************
****** NAVBAR *******
********************/
.navbar {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: relative;
}
/* Navbar h1 */
.green {
  color: var(--green);
}
.orange {
  color: var(--orange);
}

/* Navbar menu icon & blob */
.blob {
  border-radius: 30% 70% 70% 30% / 30% 48% 52% 70%;
  background-color: orangered;
  height: 110%;
  width: 80px;
  position: absolute;
  transition: all 0.8s ease-in-out;
  left: -20px;
  top: 0px;
  z-index: 1;
  transform-origin: right;
  overflow: hidden;
}
.blob.active {
  transform: scaleY(23);
  border-radius: 0;
  width: 100%;
  left: 0;
  transition: all 0.8s ease-in-out;
}
.burger {
  z-index: 3;
  cursor: pointer;
}
.line-1,
.line-2,
.line-3 {
  height: 3px;
  width: 25px;
  margin: 5px 0;
  background: var(--white);
  z-index: 2;
  transition: all 0.2s ease-in-out;
}
.line-1.active {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.line-2.active {
  opacity: 0;
}
.line-3.active {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* Navbar Img */
.img-cart {
  height: 25px;
  cursor: pointer;
}

/* Navbar Links */
.nav-links {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  transition-delay: 0.3s;
  z-index: 2;
}
.nav-links.active {
  opacity: 1;
  pointer-events: all;
}
.nav-link {
  list-style: none;
  font-size: 1.3rem;
  cursor: pointer;
  margin: 1.5rem 0;
}
.nav-link-a {
  text-decoration: none;
  color: var(--white);
}
/********************
****** HERO *******
********************/
.absolute-img {
  position: absolute;
  filter: blur(1px);
  height: 100px;
}
.hero {
  height: 92vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}
.hero-pizza-text {
  text-align: center;
  margin-top: 1rem;
  flex: 1;
  position: relative;
}
.hero-pizza-subtitle {
  color: var(--green);
  font-weight: 700;
}
.hero-pizza-name {
  font-size: 2rem;
  letter-spacing: 2px;
}
.hero-pizza-description {
  color: var(--lightest-grey);
  margin: 1rem 0;
  height: 80px;
}
.hero-pizza-price {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.hero-order-btn {
  font-family: inherit;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  border: none;
  background-color: var(--orange);
  cursor: pointer;
}
.hero-text-leaf {
  display: none;
}
.hero-tomato-leaf-img {
  display: none;
}
/* Hero Images Section */
.hero-images {
  flex: 1;
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
}
.hero-img-pizza {
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-right-arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40px;
  margin: 0 1rem 1rem 0;
  cursor: pointer;
}
/* Leaves */
.hero-images-leaf {
  right: -80px;
}

/* Website h2's*/
.section-title {
  margin: 2rem 0;
  font-weight: 700;
  text-align: center;
}

/********************
****** MENU *******
********************/
.menu {
  min-height: 100vh;
  display: grid;
}
.menu-content,
.menu-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
.menu-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.menu-category-btn {
  background: none;
  color: var(--white);
  border: none;
}
.menu-category.active {
  transform: scale(1.1);
}
.menu-category::after {
  content: "";
  position: absolute;
  bottom: 14px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--orange);
  transition: width 0.2s ease-in-out;
}
.menu-category.active::after {
  width: 100%;
}
.menu-category-icon {
  height: 40px;
  margin: 0.5rem 0 1rem 0;
}
.menu-items {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.menu-item {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
  background: var(--light-grey);
  border-radius: 10px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.8);
}
.menu-item-pizza-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.menu-item-soda-img {
  height: 150px;
  margin-top: 1rem;
  object-fit: contain;
}
.menu-item-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
  position: relative;
  margin: 1rem 0;
}
.menu-item-name,
.menu-item-price {
  font-size: 1.3rem;
}
.menu-item-calories {
  font-size: 0.9rem;
}
.menu-item-info {
  padding: 0 0.5rem;
  font-size: 0.9rem;
}
.menu-item-price {
  margin: 1rem 0;
  font-weight: 700;
}

.menu-item-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sizes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.size {
  width: 30px;
  font-weight: 700;
  padding: 0.2rem;
  background-color: var(--white);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.size:nth-child(2) {
  margin: 0 0.5rem;
}
.size.active {
  background-color: var(--orange);
  color: var(--white);
}
.menu-item-add-to-order {
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  background-color: var(--white);
  margin-bottom: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.menu-item-add-to-order:active {
  transform: scale(1.2);
}
.size:hover {
  background-color: var(--orange);
  color: var(--white);
}
/********************
****** ABOUT *******
********************/
.about {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 50vh;
}
.about-main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-main {
  display: grid;
  place-items: center;
  position: relative;
}
.about img {
  width: 90%;
  border-radius: 5px;
}
.about-text-block {
  background-color: var(--orange);
  position: absolute;
  bottom: -80px;
  width: 85%;
  text-align: center;
  font-weight: 700;
  padding: 0.5rem 0;
  border-radius: 5px;
  display: grid;
  place-items: center;
}
.about-text-block-content {
  width: 80%;
}
.about-text-block h2 span {
  font-size: 1.8rem;
  font-weight: 400;
  font-style: italic;
}
.about-text {
  margin-top: 8rem;
  width: 90%;
}
.about-text-main {
  font-size: 0.9rem;
}
.about-text-sub {
  text-align: center;
  margin-top: 1rem;
  font-weight: 700;
  color: var(--orange);
}

/********************
****** REVIEWS *******
********************/
.reviews {
  min-height: 50vh;
  margin-top: 4rem;
}
.reviews-content {
  width: 100%;
}
.review-cards {
  display: grid;
  place-items: center;
}
.review-card {
  width: 90%;
  height: 350px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--light-grey);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.8);
}
.reviewer {
  font-size: 1.2rem;
  font-weight: 700;
}
.review-stars {
  display: flex;
}
.star {
  height: 15px;
}
.review-text {
  font-size: 0.9rem;
}
.review-company {
  font-weight: 700;
}
.review-img {
  position: absolute;
  height: 70px;
  bottom: -30px;
  right: 10px;
}

/********************
****** NEWSLETTER *******
********************/
.newsletter {
  min-height: 50vh;
  background-image: url("assets/newsletter-bg.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8); /* Tint color */
  background-blend-mode: multiply;
  display: grid;
  place-items: center;
}
.newsletter-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.newsletter-title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.newsletter-input {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
}

/********************
****** FOOTER *******
********************/
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-apps-socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-apps-title {
  margin-bottom: 0.5rem;
}
.footer-apps {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-app-store {
  cursor: pointer;
}
.footer-app-store a {
  color: var(--orange);
  text-decoration: none;
  margin-left: 0.5rem;
}
.footer-social {
  font-size: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
  color: var(--white);
}
.footer-social:nth-last-child(1) {
  margin-right: 0;
}
.footer-nav {
  margin-top: 2rem;
}
.footer-links {
  text-align: center;
}
.footer-link {
  list-style: none;
  margin: 1rem 0;
  padding: 0.5rem;
  cursor: pointer;
  list-style: none;
}
.copyright {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: #a3a3a3;
}
.copyright-img {
  height: 12px;
  margin: 0 0.2rem;
  color: #ea5c2b;
}
/***************************
****** MEDIA QUERIES *******
***************************/
@media screen and (min-width: 360px) {
  /* HERO */
  .hero-pizza-text {
    margin-top: 2rem;
  }
  .hero-img-pizza {
    height: 250px;
  }

  /* MENU */
  .menu-item {
    width: 80%;
  }
  /* ABOUT */
  .about-text-block {
    width: 300px;
  }
  .about-text-block-content {
    width: 70%;
  }

  /* NEWSLETTER */
  .newsletter-title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 400px) {
  /* HERO */
  .hero-pizza-name {
    font-size: 2.5rem;
  }
  .hero-pizza-description {
    margin: 1.5rem 0;
    font-size: 1.2rem;
    padding: 0 1rem;
  }
  .hero-pizza-price {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .hero-order-btn {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 2rem;
  }

  /* NAVBAR */
  .nav-link {
    font-size: 2rem;
  }

  /* HERO */
  .hero-pizza-subtitle {
    font-size: 1.2rem;
  }
  .hero-pizza-name {
    font-size: 3rem;
  }
  .hero-pizza-description {
    margin: 2rem 0;
    padding: 0;
  }
  .hero-pizza-price {
    margin-bottom: 2rem;
  }
  .hero-img-pizza {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 380px;
  }

  /* MENU */
  .menu-items {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  .menu-item {
    height: 550px;
    width: 90%;
  }
  .menu-item-soda {
    height: 430px;
  }
  .menu-item-pizza-img {
    height: 250px;
    object-fit: cover;
  }
  .menu-item-info {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* REVIEWS */
  .reviews-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .review-cards {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  .review-text {
    font-size: 1rem;
  }

  /* NEWSLETTER */
  .newsletter-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .newsletter-input {
    padding: 0.5rem 2rem 0.5rem 1rem;
    width: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .section-title {
    font-size: 2.5rem;
  }
  /* NAVBAR */
  .blob {
    height: 130%;
    width: 130px;
    top: -20px;
    left: -20px;
  }
  .blob.active {
    transform: scaleY(19);
  }
  .nav-h1 {
    font-size: 2rem;
  }
  .img-cart {
    height: 30px;
  }
  /* MENU */
  .menu-items {
    width: 80%;
  }
  .menu-item {
    width: 300px;
  }
  /* REVIEWS */
  .review-cards {
    width: 80%;
  }

  /* ABOUT */
  .about-main-content {
    flex-direction: row;
    padding: 0 2rem;
  }
  .about img {
    width: 500px;
    border-radius: 5px;
  }
  .about-text-block {
    width: 450px;
    bottom: -30px;
    right: -10px;
  }
  .about-text {
    margin: 0 0 0 2rem;
  }
  .about-text-main {
    font-size: 1rem;
  }
  .about-text-sub {
    text-align: left;
    font-size: 1.5rem;
  }

  /* FOOTER */
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    position: relative;
  }
  .footer-apps-socials-container {
    justify-content: space-between;
    height: 100%;
  }
  .footer-apps {
    margin: 1rem 0 0 0;
  }
  .footer-app-store {
    margin: 0;
  }
  .footer-socials {
    margin-bottom: 4rem;
  }
  .footer-social {
    font-size: 1.5rem;
  }
  .footer-nav {
    margin-top: 0rem;
  }
  .footer-link {
    font-size: 1.2rem;
  }
  .footer-link:nth-last-child(1) {
    margin-right: 0em;
  }
  .copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  @media screen and (max-height: 600px) {
    .blob {
      top: -10px;
      width: 100px;
    }
    /* HERO */
    .hero-pizza-text {
      margin-top: 1rem;
    }
    .hero-pizza-description {
      margin: 0;
      font-size: 1rem;
    }
    .hero-pizza-price {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
    .hero-img-pizza {
      height: 200px;
    }
  }
  @media screen and (min-height: 1300px) {
    .hero-img-pizza {
      height: 500px;
    }
    /* HERO */
    .hero-pizza-subtitle {
      font-size: 1.5rem;
    }
    .hero-pizza-name {
      font-size: 4rem;
      letter-spacing: 5px;
    }
    .hero-pizza-description {
      font-size: 2rem;
    }
    .hero-pizza-price {
      font-size: 2.5rem;
    }
    .hero-order-btn {
      font-size: 1.5rem;
    }
  }
}
@media screen and (min-width: 1280px) {
  /* SIDE SOCIALS */
  .side-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 2rem;
    bottom: 0;
    z-index: 1;
  }
  .twitter,
  .tiktok {
    margin: 2rem 0;
  }
  .icon-social {
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--white);
  }
  /* NAVBAR */
  .navbar {
    padding: 0 2rem;
  }
  .navbar::before {
    content: "";
    height: 100vh;
    width: 100px;
    background-color: var(--light-grey);
    top: 0;
    left: 0;
    position: absolute;
  }

  /* HERO */
  .hero-content {
    flex-direction: row;
    padding: 0 0 0 150px;
  }
  .hero-pizza-text {
    text-align: left;
    height: 50vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .hero-pizza-subtitle {
    font-size: 1.5rem;
  }
  .hero-pizza-name {
    font-size: 4rem;
    letter-spacing: 5px;
  }
  .hero-pizza-description {
    font-size: 1.5rem;
  }
  .hero-pizza-price {
    margin-bottom: 1.5rem;
  }
  .hero-order-btn {
    padding: 0.8rem 4rem;
  }
  .hero-images {
    height: 50vh;
  }
  .hero-img-pizza {
    height: 500px;
  }
  .hero-right-arrow {
    bottom: -100px;
    height: 50px;
  }
  .hero-text-leaf {
    display: inline-block;
    top: -10px;
    left: 60%;
    transform: translateX(-60%) rotate(40deg);
  }
  .hero-tomato-leaf-img {
    display: inline-block;
    bottom: -10px;
    left: 60%;
    transform: translateX(-60%) rotate(40deg);
  }

  /* MENU */
  .menu-items {
    grid-template-columns: repeat(3, 1fr);
  }

  /* ABOUT */
  .about-content {
    width: 80%;
    justify-content: space-between;
  }

  /* REVIEWS */
  .review-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .reviewer {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1536px) {
  .section-title {
    font-size: 3rem;
  }
  /* HERO */
  .hero-content {
    padding-left: 200px;
  }
  .hero-pizza-subtitle {
    font-size: 1.8rem;
  }
  .hero-pizza-name {
    font-size: 4.5rem;
  }
  .hero-tomato-leaf-img {
    height: 130px;
  }
  .hero-img-pizza {
    height: 600px;
  }
  /* MENU */
  .menu-items {
    grid-template-columns: repeat(4, 1fr);
  }

  /* ABOUT */
  .about img {
    width: 600px;
  }
  .about-text-block {
    bottom: -50px;
    right: -80px;
  }
  .about-text-block-content {
    width: 60%;
  }
  .about-text-block-content h2 {
    font-size: 2rem;
  }
  .about-text-block h2 span {
    font-size: 2.5rem;
  }
  .about-text-main {
    font-size: 1.3rem;
  }
  .about-text {
    display: flex;
    justify-content: center;
  }
  .about-text-content {
    width: 70%;
  }
  /* NEWSLETTER */
  .newsletter-title {
    font-size: 2.5rem;
  }
  .newsletter-input {
    border-radius: 5px;
    border: none;
    font-size: 1rem;
  }
}
